/* Configuration */

/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* variables from style guide */
:root {
  /* primary colors */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* accent color */
  --blue: hsl(248, 32%, 49%);

  /* neutral colors */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  /* font */
  --font-size: 16px;
  --font-family: "Poppins", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

/* General */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(./images/bg-intro-mobile.png), var(--red);
  font-family: var(--font-family);
  padding-top: 5.5em;
  padding-bottom: 4.25em;
}

.br-1 {
  border-radius: 0.25em;
}

.br-2 {
  border-radius: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 0.75em;
}

.mb-2 {
  margin-bottom: 1.5em;
}

.mb-3 {
  margin-bottom: 3.5em;
}

.ph-2 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.pv-2 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.ph-4 {
  padding-left: 4.5em;
  padding-right: 4.5em;
}

.por {
  position: relative;
}

.poa {
  position: absolute;
}

.bs-1 {
  box-shadow: 0px 0.5em 0px 0px hsla(249, 10%, 26%, 0.25);
}

.text-bold {
  font-weight: var(--font-weight-semi-bold);
}

/* First article */

#presentation {
  color: white;
  text-align: center;
  line-height: 1.6em;
  font-weight: var(--font-weight-medium);
}

#presentation h1 {
  font-weight: var(--font-weight-bold);
  line-height: 1.2em;
  font-size: 2em;
}

/* Second article */

#signup header {
  color: white;
  background: var(--blue);
}

#signup header h2 {
  line-height: 1.75em;
  text-align: center;
}

#signup .signup-card {
  background-color: white;
  color: var(--dark-blue);
}

/* Second article  -- formular */

#signup .signup-card form .form-field {
  height: 4.5em;
}

#signup .signup-card form .form-field .input input {
  box-sizing: border-box;
  width: 100%;
  height: 3.5em;
  border: 1px solid var(--grayish-blue);
  padding-right: 5em;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  color: var(--dark-blue);
  outline: none;
}

#signup .signup-card form .form-field .input input:focus {
  border: 1px solid var(--dark-blue);
}

#signup .signup-card form .form-field .input input::placeholder {
  font-weight: var(--font-weight-semi-bold);
  font-size: 1em;
}

#signup .signup-card form .form-field .input img {
  top: 50%;
  transform: translateY(50%);
  right: 1.5em;
  display: none;
}

#signup .signup-card form .form-field .error-text {
  bottom: 0.75em;
  font-size: 0.75em;
  right: 0;
  color: var(--red);
  font-style: italic;
  font-weight: var(--font-weight-medium);
}

#signup .signup-card form button {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  padding: 0;
  color: white;
  width: 100%;
  height: 3.5em;
  border: none;
  background-color: var(--green);
  box-shadow: inset 0px -0.25em 0px 0px hsl(154, 59%, 44%);
  text-transform: uppercase;
  padding-top: 0.25em; /* shadow size */
  cursor: pointer;
  letter-spacing: 2px;
}

#signup .signup-card .nota-bene {
  color: var(--grayish-blue);
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
  font-size: 0.7em;
  line-height: 2em;
}

#signup .signup-card .nota-bene a {
  color: var(--red);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

/* Footer page */

footer .attribution {
  font-size: 11px;
  text-align: center;
  padding: 1vh;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */

@media all and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  /* General */

  main {
    flex-direction: row;
    max-height: 100vh;
    background: top center no-repeat url(./images/bg-intro-desktop.png), var(--red);
    padding-top: 0;
    padding-bottom: 0;
  }

  article {
    width: 50%;
  }

  /* First article */

  #presentation {
    padding: 18.4em 3.625em 0 8.8em;
    text-align: left;
  }

  #presentation h1 {
    font-size: 3em;
    letter-spacing: 0.5px;
    line-height: 1.18em;
    margin-bottom: 0.575em;
  }

  #presentation p {
    font-weight: var(--font-weight-regular);
  }

  /* Second article */

  #signup {
    padding-top: 7.5em;
    padding-left: 0.875em;
  }

  #signup header,
  #signup .signup-card {
    max-width: 33.75em;
  }

  #signup header {
    padding: 1.05em 0 1.05em 0;
  }

  #signup .signup-card {
    padding: 2.5em;
  }

  #signup .signup-card form .form-field {
    height: 5em;
  }

  #signup .signup-card form .form-field .input input {
    height: 4.45em;
    padding-left: 2.5em;
  }

  #signup .signup-card form .form-field .input img {
    transform: translateY(75%);
  }

  #signup .signup-card form .form-field .error-text {
    bottom: 1.75em;
  }

  #signup .signup-card form button {
    height: 3.65em;
    font-size: 1em;
  }

  #signup .signup-card .nota-bene {
    font-weight: var(--font-weight-medium);
  }
}
